/* Barra de navegación */
.navbar{
padding: 2rem;
background-color: rgb(30, 25, 59);
}

.navbar-collapse{/*los elementos a la izquierda*/
    align-items: center;
    justify-content: space-between;
}

.navbar-nav .nav-link.active  {
  color: #fff;
}

/* Estilos generales */
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
/* Contendor de la descripcion */
 .contenedor-descricion {

  width: 600px;
  height: 300pxpx;
  background: transparent;
  border: 2px solid rgba(127, 109, 204, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px); 
  color: #fff;

}

.ubicacion{
  border-radius: 20px;
}

#hero{
  background-image: url(seccion2.jpg);
}


.mi-nombre{
  padding: 20px;
  font-family: 'Cantata One', serif;
  font-size: 30px;
  font-weight: bold;
}

.tamaño-text{
  font-size: 20px;
}

h1{
  font-size: 2.5rem ;
  font-family: 'Philosopher', sans-serif;
  

}

.seccion-oscura{
  color: white;
  background-color: rgb(49,43,70);
}

.seccion-clara{
  color: black;
  background-color: beige;
}

.seccion-titulo{
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Philosopher', sans-serif;
}

.seccion-texto{
  font-size: 1.2rem;
}
/* Seccion principal */
.hero{
  background-color: beige;
  min-height: 450px;
  text-align: center;
}


.hero-principal{
  display: flex;
  padding: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-imagen-desarrollador{
  width: 300px;
  height: 300px;
  /* border-radius: 25% 0%; */
  margin: 20px;
}
.hero-principal h2{
  font-size: 1.5rem;
  color: #ada7d9;
}

/* Sobre mi */
.sobre-mi{
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor{
  max-width: 600px;
  text-align: center;
}

/* Seccion experiencia */
.Experiencia{
  padding: 40px 40px 60px 40px;/**/
}

.Experiencia .columna{
  padding: 20px;
  border: 2px solid rgb(18, 18, 54);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly ;
  transition: all 0.2s ease-in;
}

.Experiencia .columna:hover{ /*permite asignar un estilo cuando el cursor este sobre ese elemento*/
color: #fff;
background-color: rgb(106, 99, 131);
}

.Experiencia i{
  font-size: 2.5rem;
  color: #fff;
  background-color: rgb(30, 25, 59);
  padding: 8px 19px;
  border-radius: 50%;
}
.academica-titulo{
  font-size: 25px;
  font-weight: bold;/*Peso de la letra*/
  margin: 10px 0;
}

.badges-contenedor{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge{
  margin: 5px;
}

/* Seccion Proyectos */
.proyectos{
  /* height: 350px; */
  padding: 40px 40px 60px 40px;
  
}

.proyecto-color{
  color: black;
  background-color: beige;
}
.img-project{
  height: 300px;
  width: 500px;
  margin: 20px;
  transition: all 0.2s ease;

}
/* Falta editar */
.overlay{
  transition: all 0.2s ease;
  opacity: 2;
  position:absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* .overlay p{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
} */

/* .carousel-inner:hover img{
  opacity: 0.2;
}
.carousel-inner:hover .overlay{
  opacity: 1;
} */


.titulo-proyectos{
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Philosopher', sans-serif;
  font-weight: bold;

}

/* seccion contacto */
.contacto{
  padding: 40px 40px 60px 40px;/**/
}




.contacto i{
  font-size: 2.5rem;
  color: #fff;
  background-color: rgb(30, 25, 59);
  padding: 8px 19px;
  border-radius: 50%;
}

.titulo-contacto {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Philosopher', sans-serif;
  font-weight: bold;
}
/* Editar los botones */
.btn{
  background-color: transparent;
  border: 1px solid #fff;

}

.derechos-autor{
  font-size: 15px;
  color: black;
  padding: 20px;
}



/* Adaptable-responsivo*/
@media screen and (max-width: 776px){
  .navbar-brand{
    display: none;
  }  
  /* no funciona en este caso */
}