/* Barra de navegación */
.navbar{
padding: 2rem;
background-color: rgb(97, 95, 128);
}

.navbar-collapse{/*los elementos a la izquierda*/
    align-items: center;
    justify-content: space-between;
}

/* Estilos generales */
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

h1{
  font-size: 2.5rem ;
  font-family: 'Philosopher', sans-serif;
  

}

.seccion-oscura{
  color: white;
  background-color: rgb(106, 99, 131);
}

.seccion-titulo{
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Philosopher', sans-serif;
}

.seccion-texto{
  font-size: 1.2rem;
}
/* Seccion principal */
.hero{
  background-color: beige;
  min-height: 450px;
  text-align: center;
}

.hero-principal{
  padding: 3rem;
}

.hero-imagen-desarrollador{
  width: 200px;
  height: 200px;
  /* border-radius: 25% 0%; */
  margin: 20px;
}
.hero-principal h2{
  font-size: 1.5rem;
  color:rgb(66, 66, 70)
}

/* Sobre mi */
.sobre-mi{
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor{
  max-width: 600px;
  text-align: center;
}

/* formación academica */
.academica{
  padding: 40px;
}

/* Adaptable-responsivo*/
@media screen and (max-width: 776px){
  .navbar-brand{
    display: none;
  }  
  /* no funciona en este caso */
}