h1{
    font-family: 'Gloock', serif;
    text-align: center;
    font-size: 50px;
    color: rgb(36, 58, 71);
}

.grupo-uno{
    margin:40px;
    background-color: rgb(164, 227, 243);
}

.grupo-dos{
    margin:40px;
    background-color: rgb(155, 153, 155);
}

.grupo-tres{
    margin:40px;
    background-color: rgb(225, 230, 163);
}