.grupo-uno{
    margin:40px;
    background-color: rgb(164, 227, 243);
}

.grupo-dos{
    margin:40px;
    background-color: rgb(155, 153, 155);
}

.grupo-tres{
    margin:40px;
    background-color: rgb(225, 230, 163);
}