table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: auto;
}

tr, th{
    width: 100px;
    height:100px ;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}