table,
th,
td {
    border: 2px dotted black;
    border-collapse: collapse;
}

th, td{
    padding: auto;
}

tr, th{
    width: 100px;
    height:100px ;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
 h1{
    text-align: center;
 }
 /* AÑADIR COLOR*/
 thead{
    background-color: rgb(224, 34, 123);
    color: white;
 }
 /* Para todo th que este dentro de tbody */
 tbody th:first-child{  /*  Toda la primera columna*/
    background-color: rgb(122, 122, 119);
 }

 /*tbody tr:nth-child(3){
    background-color: brown;
  Para dar color a la quinta fila}*/
.dia{
    background-color: rgb(238, 167, 108);
}
/* Dar color a una columna especifica */
 tbody th:nth-child(4){
    background-color: rgb(123, 194, 132);
 }
 tbody th:nth-child(6){
    background-color: rgb(43, 226, 171);
 }
/* Color de fondo */
 body{
    background-color: rgb(140, 173, 173);
 }