*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
/* contenedor general */
.login-caja{
    position: relative;
    width: 400px;
    height: 450px;
    background: gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-caja{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid black;
    
}

.input-caja label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none ;
}

.input-caja input:focus~label,
.input-caja input:valid~label{
    top: -5px;
}


.input-caja input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px ;
}

.input-caja .icono{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

.recordar-contraseña{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}


.recordar-contraseña label input{
    margin-right: 3px;
}

.recordar-contraseña a{
    color: #fff;
    text-decoration: none;
}

.recordar-contraseña a:hover {
text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
}

